.null_text {
  font-size: 2rem;
  margin-top: 20px;
}

.main_btn {
  padding: 0.8rem;
  font-size: 1.5rem;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid #5995fd;
  background-color: #fff;
  color: #5995fd;
  cursor: pointer;
}
